body {
    height: 3500px;
}

.large {
    font-family: arial;
    font-size: 40px;
        
}

.font-family {
    font-family: Courier New, monospace
}

.centered {
 text-align: center;
 font-style: italic;
}

.regular {
    font-weight: 100;
}

#anchor {
    top: 3000px;
    position: absolute;
}

#letterspace {
    letter-spacing: 7px;
}

#rotate {
    right: 10px;
    top: 30px;
    position: fixed;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    
}

.float1 {
    float: left;
    width: 40%;
    height: 50px;
    border-style: dotted;
}

.float2 {
    float: left;
    width: 40%;
    height: 50px;
    border-style: solid;
}

#capitalize {
   text-transform: uppercase;
   clear: both;
}

#lineheight {
    line-height: 10px;
    clear: both;
}

#animation {
    width: 00px;
    height: 100px;
    background-color: grey;
    border: 1px solid black;
}

#myDiv2 {
    -ms-transform: matrix(1, 0, 0.5, 1, 330, 0); /* IE 9 */
    -webkit-transform: matrix(1, 0, 0.5, 1, 330, 0); /* Safari */
    transform: matrix(1, 0, 0.5, 1, 330, 0); /* Standard syntax */
}
