body {
    height: 3500px;
    font-family: arial;
    font-size: 10px;

}

.large {
    font-family: arial;
    font-size: 40px;
        
}

.centered {
 text-align: center;
 font-style: italic;
}

.regular {
    font-weight: 100;
}

#anchor {
    top: 3000px;
    position: absolute;
}

#letterspace {
    letter-spacing: 7px;
}

#rotate {
    right: 10px;
    top: 30px;
    position: fixed;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    
}

.float1 {
    float: left;
    width: 40%;
    height: 50px;
    border-style: dotted;
}

.float2 {
    float: left;
    width: 40%;
    height: 50px;
    border-style: solid;
}

#capitalize {
   text-transform: uppercase;
   clear: both;
}

#lineheight {
    line-height: 10px;
    clear: both;
}

#box6 {
    background-color: lightpink;
    width: 300px;
    border: 5px solid red;
    padding: 25px;
    margin: 25px;
}

#box1 {
    background-color: lightblue;
    width: 300px;
    border: 5px solid blue;
    padding: 25px;
    margin: 25px;
}

#box2 {
    background-color: lightgreen;
    width: 300px;
    border: 5px solid green;
    padding: 25px;
    margin: 25px;
}

#box3 {
    background-color: lightyellow;
    width: 300px;
    border: 5px solid yellow;
    padding: 25px;
    margin: 25px;
}

#box4 {
    background-color: lightpink;
    width: 300px;
    border: 5px solid red;
    padding: 25px;
    margin: 25px;
}

#box5 {
    background-color: lightblue;
    width: 300px;
    border: 5px solid blue;
    padding: 25px;
    margin: 25px;
}
/* Start http://www.cursors-4u.com */ body, a:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-11/nat1019.cur), progress !important;} /* End http://www.cursors-4u.com */
