body {
	font-family: Helvetica Neue;
    font-size: 40px;
    margin:0;
  	padding:0;
 	background-color: white;
 	color: black;
    letter-spacing: 1px;
    height: 2800px;
}
    #grad1 {
    height: 4000px;
    width: 200px
    background: white; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#48FF79, #00226D, #009BB6); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#48FF79, #00226D, #009BB6); /* For Fx 3.6 to 15 */
    background: radial-gradient(#01002D, #00226D, #BFFBFF); /* Standard syntax (must be last) */
}

.left {
    background-color: white;
    width: 300px;
    border: 3px black;
    padding: 25px;
    margin: 0px;
    text-align: center;
}
.left2 {
    background-color: white;
    width: 700px;
    left: 200px;
    border: 3px black;
    padding: 25px;
    margin: 0px;
    text-align: center;
    color: 
}
.left3 {
    background-color: white;
    width: 1100px;
    border: 3px black;
    padding: 25px;
    margin: 0px;
    text-align: center;
    left: 400px;
}

.trash {
  pointer-events: none;
  font-family: 'Noto Sans';
  font-size: 10px;
  color: #292929;
  margin: 20px;
}
}

.large {
    font-family: arial;
    font-size: 40px;
        
}

.centered {
 text-align: center;
 font-style: italic;
}

.regular {
    font-weight: 100;
}

#anchor {
    top: 3000px;
    position: absolute;
}

#letterspace {
    letter-spacing: 7px;
}

#rotate {
    right: 10px;
    top: 30px;
    position: fixed;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    
}

.float1 {
    float: left;
    width: 40%;
    height: 50px;
    border-style: dotted;
}

.float2 {
    float: left;
    width: 40%;
    height: 50px;
    border-style: solid;
}

#capitalize {
   text-transform: uppercase;
   clear: both;
}

#lineheight {
    line-height: 10px;
    clear: both;
}

.container {
    position: relative;
    align-content: center;
    right: 0px;
    left: 0px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 1;
  width: 700px;
}

.container:hover .middle {
  opacity: .91;
}

.text {
  background-color: #FFC300;
  color: black;
  font-family: Helvetica Neue;
  font-size: 9px;
  padding: 90px 200px;
}

.scroll-left {
height: 40px; 
overflow: hidden;
position: relative;
}
.scroll-left p {
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 50px;
text-align: center;
font-size: 25px;
/* Starting position */
-moz-transform:translateX(100%);
-webkit-transform:translateX(100%); 
transform:translateX(100%);
/* Apply animation to this element */ 
-moz-animation: scroll-left 25s linear infinite;
-webkit-animation: scroll-left 25s linear infinite;
animation: scroll-left 25s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
0% { -moz-transform: translateX(100%); }
100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
0% { -webkit-transform: translateX(100%); }
100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
0% { 
-moz-transform: translateX(100%); /* Browser bug fix */
-webkit-transform: translateX(100%); /* Browser bug fix */
transform: translateX(100%); 
}
100% { 
-moz-transform: translateX(-100%); /* Browser bug fix */
-webkit-transform: translateX(-100%); /* Browser bug fix */
transform: translateX(-100%); 
}

}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: #FFC300;
}

a:link {
    text-decoration: none;
}



