body {
	font-family: Monaco;
    margin:0;
  	padding:0;
 	background-color: blue;
 ;
}
    #grad1 {
    height: 4000px;
    width: 200px
    background: white; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#48FF79, #00226D, #009BB6); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#48FF79, #00226D, #009BB6); /* For Fx 3.6 to 15 */
    background: radial-gradient(#01002D, #00226D, #BFFBFF); /* Standard syntax (must be last) */
}

.left {
    text-align: right; 
    position: fixed;
    right: 50px;
    font-size: 80px;
    font-family: Helvetica Neue;
    color: lightgrey;
}
.left2 {
    text-align: right; 
    position: fixed;
    right: 50px;
    font-size: 80px;
    font-family: Helvetica Neue;
    color:grey;
}
.left3 {
    text-align: right; 
    position: fixed;
    right: 50px;
    font-size: 30px;
    font-family: Helvetica Neue;
    color: grey
}

.trash {
  pointer-events: none;
  font-family: 'Noto Sans';
  font-size: 10px;
  color: #292929;
  margin: 20px;
}
}

.large {
    font-family: arial;
    font-size: 40px;
        
}

.centered {
 text-align: center;
 font-style: italic;
}

.regular {
    font-weight: 100;
}

#anchor {
    top: 3000px;
    position: absolute;
}

#letterspace {
    letter-spacing: 7px;
}

#rotate {
    right: 10px;
    top: 30px;
    position: fixed;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    
}

.float1 {
    float: left;
    width: 40%;
    height: 50px;
    border-style: dotted;
}

.float2 {
    float: left;
    width: 40%;
    height: 50px;
    border-style: solid;
}

#capitalize {
   text-transform: uppercase;
   clear: both;
}

#lineheight {
    line-height: 10px;
    clear: both;
}



.previous {
    background-color: #f1f1f1;
    color: black;
    font-size: 90px;
    position: fixed;
    right: 10px;
    top: 10px;
    text-decoration: none;
}

.next {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;
}




