body {
    height: 3500px;
    background-color: blue;
    font-family: arial;
    text-align: center;
    color: grey;
}
    #grad1 {
    height: 2000px;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, darkblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, darkblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, darkblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, darkblue); /* Standard syntax (must be last) */
}

.left {
    text-align: left;
}

}

.large {
    font-family: arial;
    font-size: 40px;
        
}

.centered {
 text-align: center;
 font-style: italic;
}

.regular {
    font-weight: 100;
}

#anchor {
    top: 3000px;
    position: absolute;
}

#letterspace {
    letter-spacing: 7px;
}

#rotate {
    right: 10px;
    top: 30px;
    position: fixed;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    
}

.float1 {
    float: left;
    width: 40%;
    height: 50px;
    border-style: dotted;
}

.float2 {
    float: left;
    width: 40%;
    height: 50px;
    border-style: solid;
}

#capitalize {
   text-transform: uppercase;
   clear: both;
}

#lineheight {
    line-height: 10px;
    clear: both;
}



.previous {
    background-color: #f1f1f1;
    color: black;
    font-size: 90px;
    position: fixed;
    right: 10px;
    top: 10px;
    text-decoration: none;
}

.next {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;
}




