body {
	font-family: Helvetica Neue;
    margin:0;
  	padding:0;
 	background-color: #C9E1F4;
 	color: black;
    letter-spacing: 5px;
    height: 2800px;
}

    #box {
    width: 400px;
    height: 50px;
    border: .5px solid;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    left: 200px;
    border-radius: 10px;
}

    #boxA {
    width: 400px;
    height: 82px;
    border: .5px solid;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    left: 220px;
    border-radius: 10px;
    text-align: center;
}

    #boxB {
    width: 350px;
    height: 100px;
    border: .5px solid;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    left: 300px;
    border-radius: 10px;
    text-align: center;
}

    #box2 {
    width: 370px;
    height: 83px;
    border: .5px solid;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    left: 300px;
    border-radius: 10px;
    text-align: center;

}

    #box2A {
    width: 350px;
    height: 100px;
    border: .5px solid;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    left: 270px;
    border-radius: 10px;
    text-align: center;

}
   #box3 {
    width: 310px;
    height: 50px;
    border: .5px solid;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    left: 300px;
    border-radius: 10px;
    text-align: center;

}
    #box4 {
    width: 450px;
    height: 87px;
    border: .5px solid;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    left: 450px;
    border-radius: 10px;
    text-align: center;

}
    #box4A {
    width: 350px;
    height: 64px;
    border: .5px solid;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    left: 250px;
    border-radius: 10px;
    text-align: center;

}
   #box5 {
    width: 310px;
    height: 50px;
    border: .5px solid;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    left: 100px;
    border-radius: 10px;
    text-align: center;
}
    #realtitle {
    font-size: 130px;
    position: fixed;
    right: 30px;
    top: 400px;

}
    #realtitle2 {
    font-size: 60px;
    position: fixed;
    right: 30px;
    top: 530px;
    font-style: italic;

}
    #title {
    font-size: 72px;
    position: fixed;
    right: 30px;
    top: 460px;

}
    #title2 {
    font-size: 40px;
    position: fixed;
    right: 30px;
    top: 530px;

}

}
    #grad1 {
    height: 4000px;
    width: 200px
    background: white; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#48FF79, #00226D, #009BB6); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#48FF79, #00226D, #009BB6); /* For Fx 3.6 to 15 */
    background: radial-gradient(#01002D, #00226D, #BFFBFF); /* Standard syntax (must be last) */
}

.left {
    text-align: right; 
    position: fixed;
    right: 50px;
    font-size: 80px;
    font-family: Helvetica Neue;
    color: lightgrey;
}
.left2 {
    text-align: right; 
    position: fixed;
    right: 50px;
    font-size: 80px;
    font-family: Helvetica Neue;
    color:grey;
}
.left3 {
    text-align: right; 
    position: fixed;
    right: 50px;
    font-size: 30px;
    font-family: Helvetica Neue;
    color: grey
}

.trash {
  pointer-events: none;
  font-family: 'Noto Sans';
  font-size: 10px;
  color: #292929;
  margin: 20px;
}
}

.large {
    font-family: arial;
    font-size: 40px;
        
}

.centered {
 text-align: center;
 font-style: italic;
}

.regular {
    font-weight: 100;
}

#anchor {
    top: 3000px;
    position: absolute;
}

#letterspace {
    letter-spacing: 7px;
}

#rotate {
    right: 10px;
    top: 30px;
    position: fixed;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    
}

.float1 {
    float: left;
    width: 40%;
    height: 50px;
    border-style: dotted;
}

.float2 {
    float: left;
    width: 40%;
    height: 50px;
    border-style: solid;
}

#capitalize {
   text-transform: uppercase;
   clear: both;
}

#lineheight {
    line-height: 10px;
    clear: both;
}



.previous {
    background-color: #f1f1f1;
    color: black;
    font-size: 90px;
    position: fixed;
    right: 10px;
    top: 10px;
    text-decoration: none;
}

.next {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;
}
    100% {background-color:red; left:300px; top:1100px;}

@keyframes example {
    0%   {background-color:red; left:50px; top:0px;}
    25%  {background-color:yellow; left:200px; top:100px;}
    50%  {background-color:blue; left:300px; top:700px;}
    75%  {background-color:green; left:600px; top:900px;}
}
#animation {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    background-color: red;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: 20;
    animation-direction: alternate;
}
@keyframes examples {
    0%   {background-color:red; left:1000px; top:1100px;}
    25%  {background-color:green; left:900px; top:1500px;}
    50%  {background-color:blue; left:1000px; top:1700px;}
    75%  {background-color:yellow; left:800px; top:1900px;}
    100% {background-color:red; left:1000px; top:2100px;}
}

#animation1 {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    background-color: red;
    animation-name: examples;
    animation-duration: 15s;
    animation-iteration-count: 20;
    animation-direction: alternate;
}
@media screen and (max-width: 1024px) {


}



@media screen and (max-width: 768px) {

    
}



@media screen and (max-width: 600px) {
    
    
}



@media screen and (max-width: 480px) {

    
}


@media screen and (max-width: 320px) {

}



